.cart-container {
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.cart-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f9f9f9;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  flex-wrap: wrap;
}

.cart-item-image {
  width: 100%;
  height: 300px;
  border-radius: 5px;
  margin-right: 15px;
}

.cart-item-details {
  flex-grow: 1;
  margin-right: -150px;
}

.cart-item-details h3 {
  margin: 0;
  font-size: 1.2em;
  color: #333;
}

.cart-item-details p {
  margin: 5px 0;
  font-size: 0.9em;
  color: #555;
}

.cart-item-actions {
  display: flex;
  align-items: center;
}

button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 5px;
  margin: 0 5px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

span {
  font-size: 1.1em;
  margin: 0 10px;
}

.remove-btn {
  background-color: #ff4d4d;
}

.remove-btn:hover {
  background-color: #e60000;
}

h3 {
  text-align: center;

  color: red;
}

@media (max-width: 600px) {
  .cart-item {
    flex-direction: column;
    align-items: flex-start;
  }

  .cart-item-image {
    margin-bottom: 10px;
  }

  .cart-item-details {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .cart-item-actions {
    justify-content: flex-start;
    width: 100%;
  }

  .cart-item-actions button {
    flex-grow: 1;
  }
}
